.container {
    margin-top: 200px;
    padding: 200px;
}
.navbar-nav>p, .navbar-nav>a {
    margin:15px;
}
.user-form {
    display: block;
    margin: 0 auto;
}
.user-form>h2 {
    text-align: center;
}
.user-form-inputs {
    text-align: center;
    margin: 20px;
}
.user-form-inputs>button {
    margin: 20px;
}
.chat-menu, .update-form {
    display: flex;
}
.msg-header, .chat-content>div {
    display: flex;
}
