<!-- <input [(ngModel)]="channel" (keyup)="$event.keyCode == 13 && createChannel()" /> -->
<form [formGroup]="channelForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name"/>
    </div>
    <button (click)="createChannel()">Create Channel</button>
</form>

<div *ngFor="let channel of channels">
  {{ channel.name }}
  <div *ngFor="let history of channel.histories">
    {{ history.user + ": "  + history.content}}
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="content"/>
      <!-- <input type="text" [ngModel]="Aikoho" formControlName="user"/> -->
      <input type="text" [ngModel]="channel.name" formControlName="channel"/>
    </div>
    <button (click)="sendMessage()">Send</button>
  </form>
</div>



<!-- <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" /> -->
